:root{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-size:18px;
  
  }
  body{
    color:white;
    background-color:#36454F;
    font-family:'Times New Roman', Times, serif;
  }
  h1{
    color:orange;
  }
  .container{
    text-align:center;
    padding:8rem;
  }
  .search{
    margin-top:4rem;
  }
  .logo{
    max-width:200px;
  }
  a{
    text-decoration:none;
    cursor:pointer;
    color:white;
  }
  .random-link:hover{
    color:orange;
  }
  .search-bar{
    position:relative;
  }
  .search-area{
    width:100%;
    display:none;
    margin:auto;
    margin-top:40px;
    padding:10px 10px;
    border:3px solid orange;
    border-radius:1rem;
    
  }
  .search-area:focus{
     outline:none;
  }
  .search-icon{
    cursor:pointer;
    margin-top:40px;
    color:orange;
  }
  .close-icon{
    display:none;
    position:absolute; 
    right:10px;
    top:10px;
    color:orange;
    cursor:pointer;
  
  }
.go_btn{
    display:none;
    border:none !important;
    background-color:orange;
    padding:10px 30px;
    border-radius: 0.5em;
    margin:20px auto ;
  }
  .go_btn:hover{
    color:orange;
  background-color:white;
  }
  .result-item{
    background-color:white;
    color:black;
    text-align:left;
    margin:50px 0;
    padding:10px;
    border-radius:0.5rem;
  }
  .result-item:hover{
    border-left:5px solid orange;
  }
  .title-url{
    color:black;
  }
  .result-link{
    color:blue;
  }
attribute {
    font-size:11px;
  }

  
  /* Media Query */
  @media screen and (max-width:580px){
    :root{
      font-size:16px;
    }
    .container{
    padding:8rem 2rem;
  }

   
  }
